
<div class="container">

  <h1>Produtos da Minha Loja</h1>

  <table class="table table-striped">
    <thead>
        <tr class="d-flex">
          <th class="col-md-6">Produto</th>
          <th class="col-md-2">Valor</th>
          <th class="col-md-4">Imagens</th>
        </tr>
    </thead>
    <tbody>

        <tr class="d-flex" *ngFor="let produto of produtos">
            <td class="col-md-6">{{produto.descricao}}</td>
            <td class="col-md-2">R$ {{produto.valor | number: '.2'}}</td>
            <td class="imagem col-md-4"> <img src="{{produto.imagem}}" > </td>
        </tr>

    </tbody>
  </table>
</div>
